# AWS認証情報を取得して環境変数を設定
credentials="$(perman-aws-vault print)"
if [ $? -ne 0 ]; then
    echo "Failed to get credentials from perman-aws-vault" >&2
    exit 1
fi

# AWS アカウントIDを環境変数に設定
caller_identity="$(aws sts get-caller-identity)"
if [ $? -ne 0 ]; then
    echo "Failed to get caller identity" >&2
    exit 1
fi

export AWSSTUDY_ACCESS_KEY_ID="$(echo $credentials | jq -r .AccessKeyId)"
export AWSSTUDY_SECRET_ACCESS_KEY="$(echo $credentials | jq -r .SecretAccessKey)"
export AWSSTUDY_SESSION_TOKEN="$(echo $credentials | jq -r .SessionToken)"
export AWSSTUDY_DEFAULT_REGION="us-west-2"
export AWSSTUDY_ACCOUNT_ID="$(echo $caller_identity | jq -r .Account)"